<!-- Including header -->
<div ng-include="'views/common/login-header.html'"></div>

<div id="page_content">
    <div id="page_content_inner">
        <div class="container marginTopAlign">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-10 col-sm-12 col-md-8">
                            <div class="signUpContainer">
                                <h2 class="loginTitle">Find Your Account</h2>
                                <br>
                                <form role="form" angular-validator-submit="fnSendChangePasswordURL()" name="myForm" class="" novalidate angular-validator> <!--form-horizontal-->
                                    <div class="form-group">
                                        <!--<input type="email" name="email" ng-model="email" id="email" class="form-control input-sm loginInput inputMaxWidth" placeholder="Registered Email ID">-->
                                        <input  type = "email"
                                                ng-model="email"
                                                name = "email"
                                                validate-on="dirty"
                                                class = "form-control input-sm loginInput inputMaxWidth"
                                                invalid-message="'Thats not a real email address'"
                                                required-message="'Yo! This field is required..'"
                                                placeholder="Registered Email ID"
                                                required>
                                        <span class="help-block">Password link sent to your registered email id </span>
                                    </div>
                                    <input type="submit" value="Send" class="btn btn-block singinButton inputMaxWidth">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>