<!-- Including header -->
<div ng-include="'views/common/login-header.html'"></div>

<div id="page_content">
    <div id="page_content_inner">
        <div class="container marginTopAlign">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-1">
                    <div class="loginRightInner">
                        <h1 class="loginTitle">virtualGodown works the way you do</h1>
                        <p class="loginDis">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply. printing and typesetting industry. Lorem Ipsum is simply</p>
                        <h4 class="loginTitleLogin">Already have you account? <a href="#">Sign in</a></h4>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-10 col-sm-12 col-md-8">
                            <div class="signUpContainer">
                                <h2 class="loginTitle">Sign up now !</h2>
                                <br>
                                <form role="form" angular-validator-submit="fnRegisterUser()" name="myForm" class="" novalidate angular-validator> <!--form-horizontal-->
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input  type = "text"
                                                        ng-model="firstName"
                                                        name = "firstName"
                                                        validate-on="dirty"
                                                        class = "form-control input-sm loginInput inputMaxWidth"
                                                        required-message="'Yo! This field is required..'"
                                                        placeholder="First Name"
                                                        required>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input  type = "text"
                                                        ng-model="lastName"
                                                        name = "lastName"
                                                        validate-on="dirty"
                                                        class = "form-control input-sm loginInput inputMaxWidth"
                                                        required-message="'Yo! This field is required..'"
                                                        placeholder="Last Name"
                                                        required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input  type = "text"
                                                ng-model="email"
                                                name = "email"
                                                validate-on="dirty"
                                                class = "form-control input-sm loginInput inputMaxWidth"
                                                required-message="'Yo! This field is required..'"
                                                placeholder="Email"
                                                required>
                                    </div>
                                    <div class="form-group">
                                        <input  type = "text"
                                                ng-model="confirmEmail"
                                                name = "confirmEmail"
                                                validate-on="dirty"
                                                class="form-control input-sm loginInput inputMaxWidth"
                                                required-message="'Yo! This field is required..'"
                                                placeholder="Confirm Email Id"
                                                validator = "email === confirmEmail"
                                                invalid-message = "'Email do not match!'"
                                                required>
                                    </div>
                                    <div class="form-group">
                                        <input  type = "password"
                                                ng-model="userPassword"
                                                name = "userPassword"
                                                validate-on="dirty"
                                                class="form-control input-sm loginInput inputMaxWidth"
                                                required-message="'Yo! This field is required..'"
                                                placeholder="Password"
                                                required>
                                    </div>
                                    <input type="submit" value="Get Started Now" class="btn btn-block singinButton inputMaxWidth">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

