<div style="
    height: 60px;
    min-width: 940px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
" class="ng-scope">
<div style="
    float: left;
    padding-top: 10px;
"><img src="assets/img/unnamed.png" style="
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
"><button style="height: 30px;top: 6px;font-size: 20px;border-radius: 6px;border: 1px solid white;color: #4c81bf;background-color: #ffffff;position: relative;">Virtualgodown</button></div>




</div></div>



</div>