<div style="
    height: 60px;
    min-width: 940px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
" class="ng-scope">
<div style="
    float: left;
    padding-top: 10px;
"><img src="assets/img/unnamed.png" style="
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
"><button style="height: 28px;top: 6px;left: 6px;border-radius: 6px;border: 1px solid white;color: white;background-color: #4c81bf;position: relative;" ng-click="addStockarea()">+ Add Stockarea</button></div>


<div style="
    float: right;
    right: 29px;
    position: relative;
"><div style="
    float: left;
"><img src="assets/img/1.jpg" style="
    border: 1px solid white;
    border-radius: 10px;
    top: 8px;
    position: relative;
"></div><div style="
    float: left;
    /* top: 10px; */
    left: 10px;
    position: relative;
"><div class="dropdown" style="
">
  <button class="dropbtn">Rajasekar</button>
  <div class="dropdown-content">
    <a href="#">Settings</a>
    <a href="#">Profile</a>
    <a ng-click="logout()">Logout</a>
  </div>
</div>


</div></div>



</div>